@font-face {
  font-family: "iconfont"; /* Project id 4476476 */
  src: url('iconfont.woff2?t=1711696827254') format('woff2'),
       url('iconfont.woff?t=1711696827254') format('woff'),
       url('iconfont.ttf?t=1711696827254') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-oftenicon_shouqicebianlan:before {
  content: "\e610";
}

.icon-oftenicon_dakaicebianlan:before {
  content: "\e611";
}

.icon-oftenshuichanpin:before {
  content: "\e671";
}

.icon-oftendianzichanpin-:before {
  content: "\e69f";
}

.icon-oftenchanpinjieshao:before {
  content: "\e661";
}

.icon-oftenyonghuguanli:before {
  content: "\e60f";
}

